.furnitures-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* make furniture responsive */
/* ON DESKTOP VIEW */
@media only screen and (max-width:576px) {
    .furnitures-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ON MOBILE VIEW */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .furnitures-container {
        grid-template-columns: repeat(2, 1fr);
    }
}